<section id="" class="container">
    <h1 class="">Login</h1>
    
    <div class="form-wrap">
      <form action="/login/add" method="POST">
        <div class="input-group">
          <label for="username">User name</label>
          <input type="text" name="username" id="username" class="input-box" placeholder="eg. khaled"
            maxlength="100" >
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="input-box" placeholder="eg. khaled"
            maxlength="100">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</section>